.canvas-container{
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
}
.wheel-container{
    height: 100%;
}

canvas{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.legends-container {
    position: relative;
    /* top: 20%; */
    height: 20%;
    overflow: auto;
    width: 100%;
    display: flex;
    column-count: 3;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.legend-cicle{
    border-radius: 50%;
    border: 1px solid white;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.legend-text{
    margin: 0 10px;
}

.legend{
    display: flex;
    align-items: center;
    margin: 12px;
}